#home-initial-message {
  display: flex;
  background-color: rgb(81 165 42);
  color: white;
  width: 100%;
  position: relative;
  top: 80px;
}

#loading {
  display: flex;
  color: black;
  background: none;
  width: 100%;
  position: relative;
  top: 80px;
}

.product-card-list {
  background-color: rgb(213 214 219);
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 75%;
  height: fit-content;
  padding: 10px;
  margin-top: 10%;
  justify-content: space-around;
  position: absolute;
}

h1 {
  top: 90px;
  z-index: 3;
}
