/* .card-list {
  display: flex;
  justify-content: space-around;
  top: 80px;
  position: relative;
} */

.cart-list {
  /* align-items: center; */
  background-color: #2de71c;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  padding: 15px 0;
  top: 50px;
  z-index: 1;
}
