.cart-product-card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  margin: 10px;
  width: 1480px;
  text-align: center;
  transition: 1s;
}

.product-card:hover {
  box-shadow: 5px 3px 2px 5px rgb(158 157 157);
  transition: 1s;
}

/* SECTION 1 */

.cart-item-image {
  display: flex;
  max-width: 15%;
  width: fit-content;
  margin-right: 10px;
  margin-left: 20px;
  background-color: rgb(107 95 160);
  position: relative;
}

/* SECTION 2 */

.cart-item-description {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: blanchedalmond;
  position: relative;
}

.cart-item-title {
  font-size: large;
}

.cart-item-price {
  font-size: small;
  background-color: blueviolet;
}

/* SECTION 3 */

.cart-item-io {
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.cart-item-in-qty {
  display: flex;
  background-color: cadetblue;
  margin-bottom: 5px;
}

#cart-item-in-qty-label {
  display: flex;
  margin-right: 5px;
}

.cart-item-in-qty select {
  display: flex;
  height: 15px;
  margin-right: 5px;
}

.cart-item-in-qty input {
  display: flex;
  max-height: 20px;
  margin-right: 5px;
  width: 25px;
  background-color: tomato;
}

#cart-item-in-qty-button {
  display: flex;
  margin-left: 5px;
  background-color: yellow;
  color: aqua;
}

#cart-item-out-qty {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cart-item-io-remove-button {
  display: flex;
  background-color: blueviolet;
  color: aliceblue;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* SECTION 4 */

.cart-item-subtotal {
  display: flex;
  width: 25%;
  padding: 10px;
  margin-right: 20px;
  margin-left: 520px;
  background-color: aqua;
  position: relative;
}
