.cart-product-card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  margin: 10px;
  width: 1480px;
  text-align: center;
  transition: 1s;
}

.product-card:hover {
  box-shadow: 5px 3px 2px 5px rgb(158 157 157);
  transition: 1s;
}

.cart-item-image {
  /* height: auto; */
  display: flex;
  max-width: 15%;
  width: fit-content;
  margin: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: rgb(107 95 160);
  position: relative;
}

.cart-item-subtotal {
  display: flex;
  width: 25%;
  padding: 10px;
  margin-right: 20px;
  margin-left: 520px;
  background-color: aqua;
  position: relative;
}

.add-cart-button {
  background-color: #eee;
  border: 1px solid #252525;
  border-radius: 2px;
  color: #333;
  margin-bottom: 15px;
  padding: 4px;
}

.cart-item-description {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
  background-color: blanchedalmond;
  position: relative;
}

.cart-item-title {
  font-size: large;
}

.cart-item-inputs {
  display: flex;
}

.cart-item-inputs select {
  display: flex;
  height: 15px;
  margin-top: 10px;
}

.cart-item-inputs input {
  display: flex;
  max-height: 10px;
  font-size: 10px;
  width: 25px;
  margin-top: 10px;
}

.cart-item-inputs span {
  display: flex;
  height: 15px;
  margin-top: 10px;
}

.cart-item-price {
  font-size: small;
  background-color: blueviolet;
}
