.cart-product-card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  margin: 10px;
  width: fit-content;
  text-align: center;
  transition: 1s;
}

.product-card:hover {
  box-shadow: 5px 3px 2px 5px rgb(158 157 157);
  transition: 1s;
}

/* SECTION 1 */

.cart-item-image {
  display: flex;
  width: 150px;
  margin: 10px;
  margin-left: 20px;
  border-right: 3px solid rgb(158 157 157);
  position: relative;
}

/* SECTION 2 */

.cart-item-description {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 10px;
  border-right: 3px solid rgb(158 157 157);
  position: relative;
}

.cart-item-title {
  font-size: large;
}

.cart-item-price {
  font-size: x-large;
  /* background-color: blueviolet; */
}

/* SECTION 3 */

.cart-item-io {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 10px;
  border-right: 3px solid rgb(158 157 157);
  position: relative;
}

.cart-item-in-qty {
  display: flex;
  margin-bottom: 5px;
}

#cart-item-in-qty-label {
  display: flex;
  margin-right: 5px;
}

.cart-item-in-qty select {
  display: flex;
  height: 15px;
  margin-right: 5px;
}

.cart-item-in-qty input {
  display: flex;
  height: 15px;
  font-size: 13.3333px;
  margin-right: 5px;
  width: 35px;
  background-color: white;
  padding: 5px;
}

#cart-item-in-qty-button {
  margin-left: 5px;
  background-color: blueviolet;
  color: white;
}

#cart-item-out-qty {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cart-item-io-remove-button {
  background-color: blueviolet;
  padding: 3px;
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90px;
}

/* SECTION 4 */

.cart-item-subtotal {
  display: flex;
  width: 250px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 10px;
  position: relative;
}
