.header {
  align-items: center;
  background-color: #252525;
  display: flex;
  justify-content: space-around;
  /* max-width: 100%; */
  width: 100%;
  padding: 15px 0;
  position:fixed;
  z-index: 2;
}

#home-initial-message {
  display: flex;
  background-color: blueviolet;
  position: relative;
  top: 120px;
}

.cart {
  background: none;
  color: #eee;
  border-radius: 5px;
  border: 2px solid #252525;
  display: block;
  font-size: 17px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 120px;
  position: relative;

}

.input-text {
  background-color: #eee;
  border: 0.5px solid #252525;
  border-radius: 2px;
  color: #333;
  font-size: 17px;
  padding: 6px;
}

.searchButton {
  background: none;
  color: #eee;
  border-radius: 5px;
  border: 2px solid #252525;
  cursor: pointer;
  font-size: 17px;
  padding: 8px 16px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  transition: border 1.5s;
}

.searchButton:hover {
  background: none;
  color: #eee;
  border: 2px solid #eee;
  transition: border 1.5s;
}

.cart:hover {
  background: none;
  color: #eee;
  border: 2px solid #eee;
  transition: 1s;
}

@media ( max-width : 730px ) {

  .search-input {
    margin-left: 105px;
    background-color: coral;
  }
}
