#home-initial-message {
  display: flex;
  background-color: blueviolet;
  width: 100%;
  position: relative;
  top: 80px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 80px;
  position: relative;
}
